*{
    margin: 0;
    padding: 0;
}
.main{
    background-color:rgb(233, 233, 246);
     text-align: center;
    height: 630px;
     width: 40%;
     margin-left: 25%;
     font-weight: 500;
     font-family: 'Times New Roman', Times, serif;
}
.regis{
   text-align: start;
   margin-left: 3%;
   padding-top: 3%;

}
.userre{
    padding-top: 2%;
    text-align: start;
    margin-left: 3%;
}
.fileds{
   text-align:start;
   margin-left:3%;
    margin-top:3%;
}
label{
    padding-top: 20px;
    display:inline-block;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
input{
  margin-left: 10%;
  width: 190px;
}
select{
    margin-left: 10%;
  width: 190px;  
}
.btn-primary{
    margin-top: 6%;
    padding: 8px 49px;
    background-color: rgb(2, 155, 2);
    color: white;
    border: none;
}